.order-info {
  margin-left: auto;
  display:     flex;
  align-items: center;

  &__count {
    margin:    0 5px;
    font-size: 1.5em;
  }

  &__icon {
    width: 30px;
  }
}

.scale-bounce {
  animation: scaleBounce .2s;
}

@keyframes scaleBounce {
  0% {
    transform: scale(1)
  }

  60% {
    transform: scale(1.3)
  }
  90% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }

}
