@import "src/styles/variables";

.order {
  &-total {
    margin: $offset-md 0 0;

    &__text {
      display:     flex;
      align-items: center;
      white-space: nowrap;

      &:after,
      &:before {
        content:          "";
        display:          block;
        height:           1px;
        background-color: $black1;
      }

      &:after {
        margin-left: $offset-md;
        flex:        1 1 90%;
      }

      &:before {
        margin-right: $offset-md;
        flex:         1 1 10%;
      }
    }
  }
}
