// transition

$transition: .3s;

// colors

$black: #000;
$black1: rgba(0,0,0,0.3);
$black2: rgba(0,0,0,0.45);
$black3: rgba(0,0,0,0.6);
$gray: rgb(248, 249, 250);
$white: rgb(255, 255, 255);

// sizes

$font-sm: 14px;
$font-md: 18px;

// shadows

$shadow1: 0 0 2px 0 black;
$shadow2: 0 0 4px 0 black;

// offsets

$offset-xs: 4px;
$offset-sm: 8px;
$offset-sm2: 12px;
$offset-md: 16px;