@import "src/styles/variables";

.book {
  &-list {
    padding:   0 $offset-md;
    max-width: 100%;
    .book-list-item {
      transform: scale(1);
      transition: transform .2s ease-out;

      &:hover {
        transform: scale(1.04);
      }
    }
  }

  &-card {
    &__img {
      height: 140px;
    }
  }
}
