@import 'styles/variables.scss';

.header {
  width:           100%;
  display:         flex;
  align-items:     center;
  justify-content: flex-end;
  padding:         1em;

  &__link {
    text-decoration: none;
    color:           $black;

    &:hover {
      text-decoration: underline;
    }
  }
}
