.order-list-item {
  flex-wrap: wrap;

  .icon-delete {
    margin-right: 1em;
  }

  .item-info {
    margin-right: 1em;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .item-price {
    margin-right: 1em;
    text-align:   right;
    @media screen and (max-width: 600px) {
      width:      100%;
      text-align: left;
    }
  }
}
